*{
    margin: 0;
    padding: 0;
}
.head {
    vertical-align: middle;
}
.head img{
    margin: 20px 20px;
    width: 300px;
}
.head2 h3{
    font-size: 28px;
    margin: 10px 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.head2 .btn{
    width: 100px;
    margin: 28px 150px;
    padding: 9px;
    cursor: pointer;
}